h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

p{
    margin: 0;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

a {
    text-decoration: none;
    line-height: normal;
    cursor: pointer;
}

img, svg {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    scrollbar-width: thin;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;

    &.active {
        overflow: hidden;
    }
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    display: flex;
}

.header {
    flex: 0 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;  
    display: flex;
    flex-direction: column;
}