h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

p{
    margin: 0;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

a {
    text-decoration: none;
    line-height: normal;
    cursor: pointer;
}

img, svg {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Jost", sans-serif;
}

.title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 145%;
    color: #8f0e08;
    text-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15), 0 14px 14px 0 rgba(0, 0, 0, 0.13), 0 31px 18px 0 rgba(0, 0, 0, 0.08), 0 55px 22px 0 rgba(0, 0, 0, 0.02), 0 86px 24px 0 rgba(0, 0, 0, 0);
}

.subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    color: #292929;
    opacity: .8;
}

.button {
    display: flex;
    max-width: max-content;
    padding: 20px 25px;
    border: 2px solid #8f0e08;
    border-radius: 40px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15), 0 14px 14px 0 rgba(0, 0, 0, 0.13), 0 31px 18px 0 rgba(0, 0, 0, 0.08), 0 55px 22px 0 rgba(0, 0, 0, 0.02), 0 86px 24px 0 rgba(0, 0, 0, 0);
    background: #8f0e08;

    & span {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        color: #fff;
    }
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    scrollbar-width: thin;
}

::placeholder {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    color: #000;
    opacity: 0.6;
}

::-webkit-input-placeholder {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    color: #000;
    opacity: 0.6;
}

::-moz-placeholder {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    color: #000;
    opacity: 0.6;
}

:-ms-input-placeholder {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    color: #000;
    opacity: 0.6;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;

    &.hidden {
        overflow: hidden;
    }
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
    margin: 0 auto;
}

.row {
    display: flex;
}

.opacite {
    background: rgba(0, 0, 0, .5);
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    backdrop-filter: blur(3px);

    &.active {
        display: block;
    }
}

.header {
    flex: 0 0 auto;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);

    &__row {
        padding: 20px 0;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        gap: 13px;
        align-items: center;

        & img {
            max-width: 67px;
        }

        & p {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 32px;
            color: #8f0e08;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 60px;
        margin-left: auto;
        margin-right: 60px;

        &-item {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            color: #292929;
        }
    }
}

.footer {
    flex: 0 0 auto;
    margin-bottom: 60px;

    &__row {
        gap: 60px;
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 32px;
        line-height: 145%;
        color: #8f0e08;
        text-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15), 0 14px 14px 0 rgba(0, 0, 0, 0.13), 0 31px 18px 0 rgba(0, 0, 0, 0.08), 0 55px 22px 0 rgba(0, 0, 0, 0.02), 0 86px 24px 0 rgba(0, 0, 0, 0);
    }

    &__left {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15), 0 14px 14px 0 rgba(0, 0, 0, 0.13), 0 31px 18px 0 rgba(0, 0, 0, 0.08), 0 55px 22px 0 rgba(0, 0, 0, 0.02), 0 86px 24px 0 rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: column;
        padding: 60px;
        border-radius: 20px;
        min-width: 498px;
    }

    &__social {
        display: flex;
        flex-direction: column;
        gap: 33px;
        margin-top: 50px;
        margin-bottom: 200px;

        & li {
            display: flex;
            gap: 13px;
            align-items: center;

            & a {
                font-family: var(--font-family);
                font-weight: 600;
                font-size: 18px;
                line-height: 117%;
                opacity: 0.7;
                color: #292929;
            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 1px;
        max-width: 347px;

        & li {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 117%;
            color: #292929;
            opacity: 0.7;
        }
    }

    &__right {
        width: 100%;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15), 0 14px 14px 0 rgba(0, 0, 0, 0.13), 0 31px 18px 0 rgba(0, 0, 0, 0.08), 0 55px 22px 0 rgba(0, 0, 0, 0.02), 0 86px 24px 0 rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: column;
        padding: 60px;
        border-radius: 20px;
        position: relative;

        & h1 {
            margin-bottom: 8px;
        }
    }

    &__subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 117%;
        color: #292929;
        opacity: 0.8;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 40px;

        & input {
            background: #e9e9e9;
            border-radius: 40px;
            padding: 20px;
            width: 100%;
            border: none;
        }

        & input:focus, textarea:focus {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 18px;
            line-height: 117%;
            color: #000;
            outline: 0;
        }

        & input, textarea {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 18px;
            line-height: 117%;
            color: #000;
        }

        & button {
            border-radius: 40px;
            padding: 16px 24px;
            background: #e9e9e9;
            max-width: max-content;

            & span {
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 18px;
                line-height: 117%;
                color: #000;
                opacity: .6;
            }
        }
    }

    &__checkbox {
        &-group {
            position: relative;
            align-items: center;
            display: flex;
            
            & input[type=checkbox]:checked ~ .footer__checkbox-label .footer__custom-box svg {
                opacity: 1;
                transform: scale(1);
            }

            & input[type=checkbox]:checked ~ .footer__checkbox-label .footer__custom-box {
                transform: translateY(-0.5px);
                background: #8f0e08;
            }

            & input[type=checkbox]:focus ~ .footer__checkbox-label .footer__custom-box {
                outline: none;
            }

            & input[type=checkbox] {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0 0 0 0);
                white-space: nowrap;
                border: 0;
            }

            & label {
                cursor: pointer;
                user-select: none;
                display: flex;
                align-items: center;
            }

            & label a {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                line-height: 117%;
                color: #292929;
                opacity: 0.8;
            }
        }
    }

    &__custom-box {
        border-radius: 100%;
        width: 30px;
        flex-shrink: 0;
        margin-right: 24px;
        height: 30px;
        background: #e9e9e9;
        display: flex;
        align-items: center;
        justify-content: center;

        & svg {
            opacity: 0;
            transform: scale(0.8);
            transition: opacity 0.15s ease, transform 0.15s ease;
        }
    }

    &__logo {
        position: absolute;
        right: 20px;
        bottom: 20px;

        & img {
            max-width: 120px;
        }
    }
}

.main {
    flex: 1 0 auto;  
    display: flex;
    flex-direction: column;
}

.info {
    margin-top: 180px;

    &__row {
        position: relative;
        border-radius: 20px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 9px 9px 0 rgba(0, 0, 0, 0.17), 0 20px 12px 0 rgba(0, 0, 0, 0.1), 0 35px 14px 0 rgba(0, 0, 0, 0.03), 0 55px 15px 0 rgba(0, 0, 0, 0);
    }

    &__content {
        padding: 60px 0 97px 60px;
        z-index: 2;

        & h1 {
            line-height: 100%;
            max-width: 590px;
        }

        & h3 {
            max-width: 500px;
            margin: 33px 0;
            min-height: 192px;
        }
    }

    &__img {
        position: absolute;
        right: 0;
        bottom: 0;

        & img {
            max-width: 741px;
        }
    }
}

.plus {
    margin-top: 60px;

    &__row {
        flex-wrap: wrap;
        gap: 27px;
        justify-content: center;
    }

    &__card {
        padding: 30px 50px 50px 50px;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15), 0 14px 14px 0 rgba(0, 0, 0, 0.13), 0 31px 18px 0 rgba(0, 0, 0, 0.08), 0 55px 22px 0 rgba(0, 0, 0, 0.02), 0 86px 24px 0 rgba(0, 0, 0, 0);
        background: #8f0e08;
        border-radius: 20px;
        gap: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 422px;

        & h3 {
            opacity: 0.9;
            color: #fff;
            text-align: center;
        }
    }

    &__title {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 48px;
        line-height: 145%;
        color: #fff;
        text-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15), 0 14px 14px 0 rgba(0, 0, 0, 0.13), 0 31px 18px 0 rgba(0, 0, 0, 0.08), 0 55px 22px 0 rgba(0, 0, 0, 0.02), 0 86px 24px 0 rgba(0, 0, 0, 0);
    }
}

.show {
    margin-top: 120px;

    &__row {
        flex-direction: column;
        text-align: center;
        
        & h3 {
            max-width: 713px;
            margin: 10px auto 0 auto;
        }

        & a {
            margin-left: auto;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 27px;
        margin-top: 40px;
        margin-bottom: 40px;
        justify-content: center;

        & .plus__card {
            background: transparent;
            background: url('../image/show__card.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 40px;
            min-height: 322px;
            justify-content: end;
            width: 100%;
        }
    }
}

.for {
    margin: 60px 0;

    &__row {
        flex-direction: column;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 27px;
        justify-content: center;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-top: 28px;
        margin-bottom: 33px;

        & h3 {
            max-width: 650px;
        }
    }
}

.popup {
    position: fixed;
    top: 50%;
    z-index: 10000;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 30px;
    width: 100%;
    max-width: 762px;
    display: none;

    &__block {
        background: #fff;
        border-radius: 20px;
        padding: 60px;
        position: relative;
        width: 100%;
    }

    &__close {
        position: absolute;
        right: 60px;
        top: 60px;
        z-index: 10000;
    }

    &.active {
        display: flex;
    }
}

.about {
    margin-top: 120px;

    &__row {
        justify-content: space-between;
    }

    &__content {
        gap: 35px;
        display: flex;
        flex-direction: column;
        max-width: 511px;
    }

    &__swiper {
        max-width: 670px;
        margin-right: 68px;

        &-container {
            position: relative;
        }

        &-slide {
            max-width: max-content;
            border-radius: 20px;
            overflow: hidden;
            max-height: 428px;

            & img {
                height: 100%;
                width: 100%;
            }
        }

        &-button {
            position: absolute;
            top: 50%;
            right: 0;
            z-index: 10;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &-next, &-prev {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            background: #8f0e08;
            border-radius: 40px;
        }
    }
}

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.thanks {
    margin-top: 120px;

    &__slide {
        display: flex;
        border: 3px solid #8f0e08;
        border-radius: 20px;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15), 0 14px 14px 0 rgba(0, 0, 0, 0.13), 0 31px 18px 0 rgba(0, 0, 0, 0.08), 0 55px 22px 0 rgba(0, 0, 0, 0.02), 0 86px 24px 0 rgba(0, 0, 0, 0);
        padding: 60px 175px 60px 100px;
        justify-content: space-between;

        &-content {
            display: flex;
            flex-direction: column;
            max-width: 500px;
        
            & h1 {
                margin-bottom: 50px;
            }
        }

        &-image {
            & img {
                max-width: 400px;
            }
        }
    }

    &__swiper {
        &-button {
            position: absolute;
            top: 50%;
            right: 50px;
            z-index: 10;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &-next, &-prev {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            background: #8f0e08;
            border-radius: 40px;
        }
    }
}